@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');

$primary-color: #E4952B;
$hover: #D6D6D6;
$bg-color: #f7f7f7;
$font-stack: 'Open Sans Condensed', sans-serif;
$font-paragraph: Arial;

html, body {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    margin: 0 auto !important;
    font: 100% $font-stack;

    h1 {
        font-size: 2.3rem;
        font-weight: bold;
        margin-bottom: 20px;
        padding-bottom: 10px;
        border-bottom: 5px solid $primary-color;
        text-transform: uppercase;
    }

    h4 {
        width: 100%;
        background-color: $primary-color;
        color: white;
        padding: 10px 0 10px 0;
    }

    h5 {
        width: 100%;
        color: white;
        padding: 10px 0 10px 10px;
        font-weight: bold;
    }

    p {
        font: 100% $font-paragraph;
    }

    .App {
        align-self: center;
        text-align: center;
        margin: 15px;
        max-width: 800px;
    }

    .summaryText {
        text-align: left;

        span {
            font-weight: bold;
            text-transform: capitalize;
            display: inline-block;
            margin-right: 5px;
        }
    }

    .infoText {
      box-shadow: 5px 5px 8px #D6D6D6;
      background-color: $bg-color;
      padding: 20px 20px;
      margin-bottom: 20px;

      p {
          font: 1.5rem $font-stack;
      }
    }

    .surveyForm {
      box-shadow: 5px 5px 8px #D6D6D6;
      padding-bottom: 2rem;

        label {
            transition: background-color 0.5s ease-in-out;
            width: 100%;
            display: inline-block;
            vertical-align: middle;

            span {
                text-transform: uppercase;
                display: inline-block;
                padding: 20px;
            }
        }

        @media(hover: hover) {
            label:hover, label:active {
            transition: background-color 0.5s ease-in-out;
            background: $hover;
            cursor: pointer;
          }
        }

        ul {
            list-style-type: none;
            letter-spacing: 1px;
            padding-left: 0;
            padding-right: 0;
        }

        .radio-selected {
            background: $primary-color !important;
            color: white;
            font-weight: bold;
        }

        input[type="radio"] {
            visibility: hidden;
        }

        button {
            margin-right: 15px;
        }

        button[disabled] {
            cursor: not-allowed;
        }

        input[type="submit"] {
            margin: 15px;
        }

        .questionNumbers {
          font-weight: bold;
          display: inline-block;
          margin-right: 15px;
          background-color: $primary-color;
          color: white;
          padding: 12px;
          border-radius: 30px;
        }
    }
}

.summaryWrapper {
  box-shadow: 5px 5px 8px #D6D6D6;
  padding-bottom: 2rem;
}

.chart-enter {
    opacity: 0.01;
    transform: scale(1.1);
}

.chart-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: all 300ms;
}

.chart-exit {
    opacity: 0.01;
    transform: scale(1);
}

.chart-exit-active {
    transform: opacity(0.01);
    transition: all 100ms;
}
